<!DOCTYPE html>
<html>
<head>
	<title>History Pelanggar</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<style type="text/css">
		body
		{
			background-color: #cacde8;
		}
		.container{
			text-align: center;
			left: 50%;
			top: 50%;
			position: absolute;
			transform: translate(-50%,-50%);  
		}
		th {
			background-color: #25273c;
			color: white;
			text-align: center;
			width: 50px;
		}
		td {
			background-color: #e4e5f1;
			color: 	#25273c;
			text-align: center;
			width: 150px;
		}
		.table-secondary {
			margin-left: auto;
			margin-right: auto;
		}
	</style>
</head>
<body>

	<div class="container">
		<h2><center>History Pelanggaran</center></h2>
		<br>
		<table class="table-secondary ">
			<thead>
				<tr>
					<th scope="col">No</th>
					<th scope="col">Tanggal</th>
					<th scope="col">Slip Tilang</th>
					<th scope="col">Jenis Pelanggaran</th>
					<th scope="col">Lokasi Tilang</th>
					<th scope="col">Denda</th>
					<th scope="col">Status</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">1</th>
					<td>02-Januari-2021</td>
					<td>Biru</td>
					<td>Tidak memakai helm</td>
					<td>Jalan Raya Bojongsoang, Dayeuhkolot, Bandung</td>
					<td>Rp.250000</td>
					<td>LUNAS</td>
				</tr>
				<tr>
					<th scope="row">2</th>
					<td>30-Januari-2021</td>
					<td>Merah</td>
					<td>Menerobos lampu merah</td>
					<td>Jalan Soekarno Hatta, Bandung</td>
					<td>Rp.500000</td>
					<td>LUNAS</td>
				</tr>
				<tr>
					<th scope="row">3</th>
					<td>1-Maret-2021</td>
					<td>Biru</td>
					<td>Tidak ada plat nomor</td>
					<td>Jalan Tamelang, Karawang</td>
					<td>Rp.500000</td>
					<td>BELUM LUNAS</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>