<!DOCTYPE html>
<html>
<head>
  <title>Input Data Pelanggar</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <style type="text/css">
    #inputdp{
      left: 50%;
      top: 50%;
      position: absolute;
      transform: translate(-50%,-50%);
      font-family: Arial, Helvetica, sans-serif;
    }

    body{
      background-color: #cacde8;
    }

  </style>
</head>
<body>
  <h2><center>Data Diri Pelanggar</center></h2> 
  <table id="inputdp">
    <tr>
      <td>
        <label for="staticEmail" class="">Nama Lengkap</label>
      </td>
      <td>
        <div class=""> 
          <input type="text" class="form-control" id="staticEmail">
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <label for="staticEmail" class="" >Tempat Tanggal Lahir </label>
      </td>
      <td>
        <div class="">
          <input type="text" class="form-control" id="staticEmail">
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <label for="staticEmail" class="" >Alamat </label>
      </td>
      <td>
        <div class="">
          <input type="text" class="form-control" id="staticEmail">
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <label for="staticEmail" class="" >Jenis Kelamin </label>
      </td>
      <td>
        <div class="">
          <input type="text" class="form-control" id="staticEmail">
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <label for="staticEmail" class="" >No.KTP</label>
      </td>
      <td>
        <div class="">
          <input type="text" class="form-control" id="staticEmail">
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <label for="staticEmail" class="" >Pekerjaan </label>
      </td>
      <td>
        <div class="">
          <input type="text" class="form-control" id="staticEmail">
        </div>
      </td>
    </tr>
  </table>
  

</body>

</html>