<!DOCTYPE html>
<html>
<head>
	<title>Tata Cara Pembayaran</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<style type="text/css">
		body
		{
			background-color: #cacde8;
		}
		.container{
			text-align: center;
		}
		th {
			background-color: #25273c;
			color: white;
			text-align: center;
			
		}
		td {
			
			background-color: #e4e5f1;
			color: 	#25273c;
			text-align: left;
			
		}
		.container{
			left: 50%;
			top: 50%;
			position: absolute;
			transform: translate(-50%,-50%);  
		}
	</style>
</head>
<body>
	<div class="container">
		<table class="table-secondary ">
			<thead>
				<tr>
					<th scope="col" colspan="3"><h3>BANK BRI</h3></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">Teller</th>
					<th scope="row">M-Banking</th>
					<th scope="row">ATM</th>
				</tr>
				<tr>
					<td>
						<ul>
							<li>Ambil nomor antrian transaksi teller dan isi slip setoran</li>
							<li>Isikan 15 angka Nomor Pembayaran Tilang pada kolom "Nomor Rekening" dan Nominal titipan denda tilang pada slip setoran</li>
							<li>Serahkan slip setoran kepada Teller BRI</li>
							<li>Teller BRI akan melakukan validasi transaksi</li>
							<li>Simpan Slip Setoran hasil validasi sebagai bukti pembayaran yang sah</li>
							<li>Slip setoran diserahkan ke penindak untuk ditukarkan dengan barang bukti yang disita</li>
						</ul>
					</td>
					<td>
						<ul>
							<li>Login aplikasi BRI mobile banking</li>
							<li>Pilih Menu Mobile Banking BRI > Pembayaran > BRIVA</li>
							<li>Masukkan 15 angka Nomor Pembayaran Tilang</li>
							<li>Masukkan nominal pembayaran sesuai jumlah denda yang harus dibayarkan. Transaksi akan ditolak jika pembayaran tidak sesuai dengan jumlah denda titipan</li>
							<li>Masukkan PIN transaksi</li>
							<li>SMS notifikasi akan masuk ketika pembayaran telah dilakukan</li>
							<li>Simpan notifikasi SMS sebagai bukti pembayaran</li>
							<li>Tunjukkan notifikasi SMS ke penindak untuk ditukarkan dengan barang bukti yang disita</li>
						</ul>
					</td>
					<td>
						<ul>
							<li>Masukkan Kartu Debit BRI dan PIN Anda</li>
							<li>Pilih menu Transaksi Lain > Pembayaran > Lainnya > BRIVA</li>
							<li>Masukkan 15 angka Nomor Pembayaran Tilang (nomor BRIVA)</li>
							<li>Di halaman konfirmasi, pastikan detil pembayaran sudah sesuai seperti Nomor BRIVA, Nama Pelanggar dan Jumlah Pembayaran</li>
							<li>Ikuti instruksi untuk menyelesaikan transaksi</li>
							<li>Copy struk ATM sebagai bukti pembayaran yang sah dan disimpan</li>
							<li>Struk ATM asli diserahkan ke penindak untuk ditukarkan dengan barang bukti yang disita</li>
						</ul>
					</td>
					
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>

