<!DOCTYPE html>
<html>
<head>
	<title>Register Polisi</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<style type="text/css">
   #register_Polisi{
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
  }

  body
  {
    background-color: #cacde8;
  }

  #btnsubmit{
    position: right;
  } 

</style>
</head>
</head>
<body>
  <div id = "register_Polisi">
    <h1><center>Register Polisi</center></h1>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="mb-3">
           <label for="staticEmail">Nama Lengkap</label>
           <input type="text"  class="form-control" id="staticEmail">

         </div>

         <div class="mb-3">
          <label for="inputPassword">Tempat Tanggal Lahir</label>
          <input type="text" class="form-control" id="inputPassword">
        </div>

        <div class="mb-3">
          <label for="inputPassword">Jabatan</label>
          <input type="text" class="form-control" id="inputPassword">
        </div>


        <div class="mb-3">
          <label for="inputPassword">Alamat</label>
          <input type="text" class="form-control" id="inputPassword">
        </div>
      </div>

      <div class="col-sm">
        <div class="mb-3">
          <label for="inputPassword">Jenis Kelamin</label>
          <input type="text" class="form-control" id="inputPassword">
        </div>


        <div class="mb-3">
          <label for="inputPassword">Email</label>
          <input type="text" class="form-control" id="inputPassword">
        </div>


        <div class="mb-3">
          <label for="inputPassword">Username</label>
          <input type="text" class="form-control" id="inputPassword">
        </div>


        <div class="mb-3">
          <label for="inputPassword">Password</label>
          <input type="text" class="form-control" id="inputPassword">
        </div>

      </div>
      <div id="btnsubmit" class="container">
       <button type="button" class="btn btn-primary">Submit</button>
     </div>
   </div>

 </div>
</div>



</body>
</html>